/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-balham.css';
/*model starts*/
modal {
    display: none;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    display: block;
}
.modal-body {
    background: #fff;
    margin: 40px auto;
    width: 40%;
    padding:0;
}
.modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 900;
}
.modal-body .form-horizontal {
    display: block;
    clear: both;
    padding: 40px;
}
.modal-body .form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
    float:left;
    width:160px;
    padding-right:15px;
}
.modal-body .input-control{
    float:left;
    width:65%;
}
.modal-body .form-group{
    margin: 0;
    padding-bottom:15px;
    display: block;
    clear: both;
}
.crossButton{
    cursor:pointer;
    position: absolute;
    /* top: -13px;
    right: -11px; */
    top: 27px;
    right: 29%;
    background: #fff;
   border: 1px solid #333;
    padding:5px 10px;
    border-radius: 50%;
    font-weight: 700;
}
.page-header h3{
    display: block;
    padding:15px;
    margin: 0;
    text-align: center;
    margin:0;
    color: #fff;
}
.page-header{
    background-color: #0099CC ;
    padding:0;
    margin:0;
    text-align: center;
    display: block;
}





*{
    margin: 0;
    padding: 0;
    outline: none;
}
/* body{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 18px;
}
.container{
    padding: 0;
    margin: 0 auto;
}
.mydp .selection {
   /* width: 100%;
    */
    /* outline: 0;
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    text-overflow: ellipsis;
    padding-left: 6px;
    border: none;
    color: #555;
    height:auto !important;
}
.mydp .selbtngroup {
    position: relative;
    white-space: nowrap;
    width: 1%;
    font-size: 0;
    height:auto !important;
    padding:3px;
}
.selection{
    line-height: 22px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: 7px;
}
.mydp, .mydp .headertodaybtn {
    border: 1px solid #CCC;
}
.fileUpload label{
    padding-right:20px;
    font-weight: bold;
    float: left;
}
.fileDataUpload{
    display: block;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top:40px;
    margin-bottom: 100px;
}
.fileDataUpload .heading{
    display: block;
    padding: 10px;
    background: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
}
.filterSection{
    padding:20px 10px;
}
.dataSection{
    display: block;
    margin: 15px 0 0 0;
    padding: 10px;
}
.tableHead{
    font-weight: 700;
}
input[type="text"], input[type="password"], input[type="email"], input[type="time"], select{
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.subbtn{
    background-color:#337ab7;
    color:#ffffff;
    border-radius: 10px;
    border-color: #337ab7;
    ;
    padding:0 10px 0 12px;
}
.subbtn:hover{
    background-color:#0d47a1;
    border-color: #0d47a1 ;
    color:white;
    border-radius: 10px;
}
.btn:focus{
    color:#fff;
}
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.clearfix:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.btn {
    border: 1px solid #2e6da4;
    color: gray;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 12px;
    background-color:#337ab7;
    padding: 2px 17px!important;
    color:#ffffff;
    border-radius: 10px;
    border-color: #0d47a1;
    box-shadow: 1px 1px 3px #888888 
}
.btn:hover{
    color: #fff;
    background-color: #286090;
    border-color: #204d74 
}
.body-row:nth-child(odd){
    background:#e0e0e0;
    padding:10px 0;
}
.body-row:nth-child(even){
    background: #D3D3D3;
    padding:10px 0;
}
.heading-row{
    font-weight: 700;
    padding: 10px;
    background: #C0C0C0;
} */

/* .tablestyling{
    overflow: auto;
    white-space: nowrap;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: center;
}
.table>tbody{
    border: 1px solid #ddd;
}
.fileUpload {
    display: block;
    padding: 40px 10px 0;
}

.textAlign{
    text-align: center;
} */ 
/* ::-webkit-file-upload-button {
    background: #337ab7;
    color:#ffffff;
    border-radius: 8px;
    border-color: #337ab7;
    padding:5px;
    font-size:13px;
}
::-webkit-file-upload-button:hover{
    background-color: #0d47a1;
    border-color: #0d47a1;
    color: white;
}
*/
/* .mydp .btnclear, .mydp .btndecrease, .mydp .btnincrease, .mydp .btnpicker{
    width:21px!important;
}
a {
    color: #161617;
    text-decoration: none;
}
.alert-danger{
    background: none;
    padding:10px 0 0 20%;
    border: none;
    clear:both;
}
.homePage{
    display: block;
    text-align: center;
    font-size: 32px;
    color: #0099cc ;
    font-weight: bold;
    padding-top: 150px;
}
.paginationDiv{
    text-align: center;
}
.tablestyling{
    overflow: auto;
    white-space: nowrap;
    max-height: 350px;
}
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block; float: left;
}
.upload-btn-wrapper .uploadFile {
    padding:5px;
    color:#fff;
    background: #337ab7;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    width:100px;
    text-align:center;
}
.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
   width: 100px;
    height: 33px;
}
.upload-btn-wrapper:hover .uploadFile{
    background-color: #0d47a1;
    border-color: #0d47a1;
    color: white;
}
span.selectedFile{float: left; padding: 5px 0 0 5px;}
.datePicker[_ngcontent-c4].userAccFile{width:18%;}
.broadbandFilter[_ngcontent-c4].userAccFile{width:66%;}
.broadbandFilter[_ngcontent-c4].userAccFile label[_ngcontent-c4]{
    width:18%;
     padding-top: 5px;
   }
#adduser .mydp .icon-mydpremove, #edit .mydp .icon-mydpremove{ display: none !important;}
.styled-select {
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
    
    overflow: hidden;
    position: relative;
  }
  .styled-select, .styled-select select { width: 100%;-moz-appearance: none; position: relative;}
  select:focus { outline: none; }
  .styled-select select {
    background: transparent;
    border: none;
    -webkit-appearance: none; z-index: 2;
  } 
  @-moz-document url-prefix(){
    .styled-select select { width: 100%; }
  } 
  .fa-sort-desc {
    position: absolute;
    top: -3px;
    right: 12px;
    font-size: 24px;z-index: 1;
  }
   select::-ms-expand { display: none; } */

   /* button style changes */
   /* .subbtn {
    background-color: #337ab7;
    color: #ffffff;
    border-radius: 10px;
    border: none !important;
    padding: 5px 10px 5px 12px !important;
}
.btn{ border: none !important;}
header{background: #134891 !important; padding:5px 0px !important;}
footer{background: #58595b !important; padding:10px 0 !important;}
footer p{margin:0px !important;}

.fileDataUpload{
    box-shadow: 0px 0px 8px #bababa;
    -webkit-box-shadow: 0px 0px 8px #bababa;
    -moz-box-shadow: 0px 0px 8px #bababa;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;

    /* margin-top: 130px !important; margin-top: 20px !important; */
/* }
.tabbackground{background: #005ab0 !important; box-shadow: 0px 2px 7px #3c3c3c !important;}
.tablist li.active, .tablist li:hover{ background: #ffffff !important; color:#000000 !important;}
.tablist li{margin-bottom:-1px !important;}
.tablist li#logout:active, .tablist li#logout:hover{background: #005ab0 !important; color:orange !important; text-decoration: underline; }
.glyphicon.glyphicon-sort{display: none;}
.table.table-bordered tbody tr td strong a{ cursor: none;}
.table.table-bordered tbody tr td strong a:hover,.table.table-bordered tbody tr td strong a:focus{    color: #161617;
    text-decoration: none;}  */


